{% extends 'base.html.twig' %}
{% block body %}
    <h1>Delete stop:</h1>
    <br><span style="font-size: 20pt;">
    ID: {{ stop.id }}
    <br>stop: {{ stop.name }}</span>
    {{ form_start(form) }}
    {{ form_row(form.delete, {'attr':{'class':"col-xs-1 btn btn-sm btn-danger"} }) }}
    <a class="btn btn-sm btn-default col-xs-1" href="{{ path('edit_page') }}">No!</a>
    {{ form_end(form) }}
{% endblock %}