<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}">
    </head>
    <body class="row">
            <a class="col-md-3" href="{{ path('homepage') }}">Pagrindinis</a>
            <a class="col-md-3" href="{{ path('homepage') }}">Maršrutai</a>
            <a class="col-md-3" href="{{ path('homepage') }}">Pridėti</a>
            <a class="col-md-3" href="{{ path('homepage') }}">Pagalba</a>
        <script   src="https://code.jquery.com/jquery-1.12.4.min.js"
                  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                  crossorigin="anonymous">
        </script>
        <script src="{{ asset('../vendor/twbs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>
